.login-btn {
    background-color: transparent !important;
    width: 80px !important;
    color: white !important;
}

.register-btn {
    color: black !important;
    background-color: #ffffff00 !important;
    border: none;
    width: 80px !important;

}


.background-slide {
    position: absolute;
    width: 80px;
    height: 41px;
    background-color: #EBA607;
    border-radius: 0.5rem;
    right: 80px;
    top: 6px;
    z-index: -1;
    transition: transform 0.5s cubic-bezier(0, -0.55, 0, 1);
    transform: translateX(74px);
}

.login-btn,
.register-btn {
    position: relative;
    z-index: 1;
}

.register-btn:hover {
    transition-delay: 50ms;
    color: white !important;
    background-color: #ffffff00 !important;
}

.register-btn:hover~.background-slide {
    transform: translateX(-4px);
}

.login-btn:has(+ .register-btn:hover) {
    transition-delay: 0.1s;
    background-color: #ffffff;
    color: black !important;
}

.register-btn:hover {
    background-color: transparent;
    border-color: #2563eb;
}
