h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}




.herfeDiv {
    overflow-y: scroll;
    width: 300px;
    max-height: 400px;
    padding: 12px;
}

.herfeDiv::-webkit-scrollbar {
    width: 5px;
}

.herfeDiv::-webkit-scrollbar-track {
    width: 5px;
}

.herfeDiv::-webkit-scrollbar-thumb {
    background-color: #EBA607 !important;
    color: #EBA607 !important;
    border-radius: 5px;
}

.form-control {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

/* .register_btn{
                                                                                                                                                                                                    display: none !important;
                                                                                                                                                                                                } */
.autocomplete {
    position: relative;
    /* width: 300px; */
}

.autocomplete input {
    outline: 0px solid transparent !important;
    width: 100%;
    padding: 10px 30px 10px 10px;
    padding-left: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.autocomplete label {
    position: absolute;
    right: 15px;
    top: 21%;
    transition: 0.2s;
    pointer-events: none;
    color: #666;
}

.autocomplete .dropdown .active {
    background-color: #F2F9FF;
}

.autocomplete input:focus+label,
.autocomplete.filled label {
    outline: none !important;
    border: none !important;
    top: -10px;
    right: 10px;
    background: white;
    padding: 0 5px;
    font-size: 0.75rem;
    color: #6c757d;
}

.autocomplete .clear-btn {
    display: none;
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-weight: bold;
    color: #888;
}

.autocomplete .dropdown {
    /* padding-bottom: 50px; */
    position: absolute;
    top: 110%;
    border-radius: 5px;
    right: 0;
    left: 0;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 250px;
    overflow-y: auto;
    background: white;
    z-index: 2;
}

.autocomplete .dropdown::-webkit-scrollbar {
    background-color: #ffffff;
    width: 3px;
}

.autocomplete .dropdown::-webkit-scrollbar-thumb {
    background-color: #bfbfbf;
    border-radius: 10px;
    width: 6px;
}

.autocomplete .dropdown div {
    padding: 8px 10px;
    cursor: pointer;
}

.autocomplete .dropdown div:hover {
    background: #f0f0f0;
}

.choices__inner {
    background-color: white !important;
}

.choices__input {
    background-color: white !important;
}

.choices__list--single .choices__item {
    padding-right: 18px !important;
}

.choices[data-type*=select-one] .choices__button {
    right: none !important;
    margin-right: none !important;
}

.choices__list--dropdown {
    border-radius: 4px !important;
    margin-top: 8px !important;
    padding: 5px;
    /* max-height: 200px !important; */
    overflow-y: scroll !important;
}

.choices__inner {
    border-radius: 6px;
}

.is-open .choices__inner {
    border-radius: 6px !important;
}

.choices__list--dropdown::-webkit-scrollbar {
    border-radius: 8px;
    width: 6px;
    background-color: #ffffff
}

.choices__list--dropdown::-webkit-scrollbar-thumb {
    background-color: #bfbfbf;
    border-radius: 10px;
    width: 6px;
}

.choices__list--dropdown .choices__list,
.choices__list[aria-expanded] .choices__list {
    border-radius: 8px !important;
    margin-top: 10px;
}

.choices__list--multiple .choices__item {
    background-color: #EBA607 !important;
    border-color: #af7d07 !important;
}


/* phone */
.d-flex.gap-0>div input {
    border-radius: 5px !important;
}

.d-flex.gap-0>div:first-child input {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.d-flex.gap-0>div:last-child input {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.choices {
    margin-bottom: 0 !important;
}


.login-btn {
    background-color: transparent !important;
    width: 70px !important;
    /* border: 1px solid black; */

}

.register-btn {
    color: white !important;
    /* background-color: transparent; */
    background-color: #ffffff00 !important;
    /* border: 1px solid black; */
    border: none;
    width: 70px !important;

}

.navbar-expand-lg .container {
    padding: 0 20px !important;
}

.background-slide {
    position: absolute;
    width: 70px;
    /* اندازه بزرگ‌تر برای هر دو دکمه */
    height: 44px;
    background-color: #EBA607;
    border-radius: 0.5rem;
    right: 80px;
    top: 6px;
    z-index: -1;
    transition: transform 0.5s cubic-bezier(0, -0.55, 0, 1);
}

.login-btn,
.register-btn {
    position: relative;
    z-index: 1;
}

.login-btn:hover {
    transition-delay: 50ms;
    color: white !important;
    background-color: #ffffff00 !important;
}

.login-btn:hover~.background-slide {
    /* transform: translateX(calc(74% + 1rem)); */
    transform: translateX(74px);
    /* width: 50px; */
    /* height: 45px; */
    /* right: 147px; */
    /* top: 2px; */
}

.login-btn:hover~.register-btn {
    transition-delay: 0.1s;
    background-color: #ffffff;
    border: none;
    color: black !important;
}

.register-btn:hover {
    background-color: transparent;
    border-color: #2563eb;
}

.register_title h3 {
    font-size: 22px;
}

.register_title img {
    height: 60%;
}

/* steps */
.stepper {
    position: relative;
    margin-top: 20px;
}

.stepper::before {
    content: '';
    position: absolute;
    top: 24px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #e0e0e0;
    z-index: 0;
}

.step {
    position: relative;
    text-align: center;
    z-index: 1;
    flex: 1;
}

.step .step-number {
    width: 50px;
    height: 50px;
    line-height: 40px;
    padding-top: 3%;
    background-color: #e0e0e0;
    color: #fff;
    border-radius: 50%;
    margin: 0 auto 10px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.step.active .step-number {
    background-color: #EBA607;
}

.step .step-title {
    font-size: 14px;
    color: #555;
}

.step.active .step-title {
    font-weight: bold;
    color: #EBA607;
}

/* choises */
.choices__list--multiple .choices__item {
    border-radius: 5px !important;
}

.choices[data-type*=select-multiple] .choices__button,
.choices[data-type*=text] .choices__button {
    position: relative;
    left: 0;
    display: inline-block;
    margin: 0 !important;
    margin-right: 10px !important;
    padding-left: 0px !important;
    border-left: none !important;
}


/* datepicker */
.datepicker-plot-area {
    width: 300px !important;
    min-width: 300px !important;
}


/* انیمیشن لرزش */
@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

.shake {
    animation: shake 0.3s;
}

.error-message {
    color: red;
    font-size: 0.875rem;
    margin-top: 5px;
    display: none;
}

/* استایل برای گروه input و دکمه */
.input-group>.form-select {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.input-group>.btn {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

/* استایل تب‌ها در مدال */
.nav-tabs .nav-link {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
}

/* استایل چک‌باکس‌ها */
.form-check-input {
    margin-top: 0.2rem;
}

/* استایل تب‌ها */
.nav-tabs {
    border-bottom: none !important;
    border-right: none !important;
    border-left: none !important;
}

.nav-tabs .nav-link {
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: 4px solid transparent;
    border-radius: 0;
    color: #555;
    font-weight: 500;
    transition: all 0.3s;
}

.nav-tabs .nav-link:hover {
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: 4px solid transparent;
    border-radius: 0;
    color: #555;
    font-weight: 500;
    transition: all 0.3s;
}

.nav-tabs .nav-link.active {
    border-bottom: 4px solid #EBA607;
    border-top: none !important;
    color: #EBA607;
    background-color: transparent;
}


.choices__list--dropdown .choices__list,
.choices__list[aria-expanded] .choices__list {
    padding-left: 10px;
}

.choices__list::-webkit-scrollbar {
    background-color: #ffffff !important;
    width: 6px !important;
}

.choices__list::-webkit-scrollbar-thumb {
    background-color: #bfbfbf !important;
    border-radius: 10px !important;
    width: 6px !important;
}



.manual-date-fields {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

.manual-date-input {
    flex: 1;
    text-align: center;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.date-separator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10px;
}

.toolbox {
    margin-bottom: 10px !important;
}

.datepicker_title {
    position: relative;
    top: 10px;
    right: 18px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 247, 255, 1) 100%);
}
